body{
    margin: 0 auto;
    width: 80%;
}
p{
    margin: 60px 60px;
}
a{
    text-decoration: none;
}
#header a{
    color: white;
}
.aa:hover{
    background-color: rgba(10, 241, 114, 0.89);
}
#content hr{
    text-align:center ;
    border: solid #381f08;
    width: 24%;
}
table{
    border:0;
    background-color: rgb(233, 222, 226);
    border-spacing: 10px;
    margin: auto;
    padding: 10px;
}
tr td{
    font-size: 20px;
    font-weight: bold;
}
table img{
    width: 250px;
    height: 350px;
}
#header{
    color: white;
    background-color: #d18411ef;
    height: 50px;
    padding: 10px;
}
#bottom{
    color: white;
    background-color: #d18411ef;
    height: 200px;
    padding: 5px;
}
.bottom_left{
    width: 60%;
    float: left;
}
.bottom_right{
    width: 40%;
    height: 30%;
    float: right;
}
#content h2{
    text-align: center;
}
#footer{
    text-align: center;
    padding: 5px;
    background-color:#d18411ef;
    color: white;
}
.header_left{
    float: left;
    padding: 5px;
    vertical-align: middle;
}
.header_right{
    float: right;
    padding: 10px;
    vertical-align: middle;
}
.icon{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.center{
    text-align: center;
}
.img1{
    width: 150px;
    height: 150px;
    margin: 30px 150px;
}
